#navbar{
    border: 2px solid black;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#search_input{
    width: 50%;
    margin-right: 10%;
    height: 60%;
}
#navbar a{
    margin-left: 5%;
}