
a{
    text-decoration: none;
    color: black;
}

#cart{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
#cart img{
    width: 80%;
    height: 200px;
}
#cart>div{
    text-align: center;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#checkout{
    margin-top: 150px;
    padding: 5px 10px 5px 10px;
}