#navbar{
    display: flex;
    background-color: rgb(116, 141, 133);
    justify-content: flex-end;
}
#navbar>div{
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
#items{

    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
#items img{
    width: 80%;
    height: 200px;
}
#items>div{
    text-align: center;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}